{% extends "base.html" %}

{% block content %}

 <div class="container-fluid">
	   <div class="row">

		  <nav class="col-sm-3 col-md-2 col-md-1 d-none d-sm-block bg-light sidebar">
		      <ul class="nav nav-pills flex-column">
					<li class="nav-item">
					  <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Worklist</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Stats</a>
					</li>
          		</ul>
		  </nav>

		  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
			   <div class="table-responsive">
                    <h1>Stats!</h1>

			  </div> <!-- /.table-responsive -->
		  </main>
	  </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->


{% endblock %}
