{% extends "base.html" %}

{% block content %}

  <div class="container-fluid">
	   <div class="row">

		  <nav class="col-sm-3 col-md-2 col-md-1 d-none d-sm-block bg-light sidebar">
		      <ul class="nav nav-pills flex-column">
					<li class="nav-item">
					  <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Worklist</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Stats</a>
					</li>
          		</ul>
		  </nav>

		  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
		       <h1>Study List</h1>
			   <div class="table-responsive">
					<table class="table table-striped">
					  <thead>
						<tr>
              <th>#</th>
						  <th>Patient ID</th>
						  <th>Study</th>
						  <th>Age (yrs) </th>
						  <th>Sex</th>
						</tr>
					  </thead>
						<tbody>
              <tr>
                <td><a href="/study/1">
										<button type="button" class="btn btn-primary btn-sm">Report</button>
										</a></td>
                <td>1,001</td>
                <td>CXR</td>
                <td>45</td>
                <td>M</td>
              </tr>
              <tr>
                 <td><a href="/study/2">
										<button type="button" class="btn btn-primary btn-sm">Report</button>
										</a></td>
                <td>1,001</td>
                <td>CXR</td>
                <td>45</td>
                <td>M</td>
              </tr>
						 </tbody>
					</table>
			  </div> <!-- /.table-responsive -->
		  </main>
	  </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->

{% endblock %}
